.stylish-box {
    padding: 5px 5px;
    background-color: black;
}

.stylish-box {
    color: white;
}

.manipulate {
    display: flex;
    justify-content: space-evenly;
}

.manipulate span {
    background-color: #ab3b3f;
}

.stylish-box img {
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    background-color: #ab3b3f;
    color: white;
    font-size: 14px;
    line-height: 1.5em;
    padding-left: 5px;
}

.edit {
    background-color: lightgray;
    display: flex;
    align-items: center;
}

.grids1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Create a 3x3 grid */
    gap: 20px;
    /* Adjust the gap between grid items */
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
}