/* styles.css */

.grid_imgs {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.full_screen_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    /* Transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.full_screen_img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.modal_close_button {
    position: absolute;
    top: 5em;
    right: 3em;
    padding: 10px;
}

.sub_image {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}

.sub_image_cont {
    width: 170px;
    height: 175px;
}

.sub_image_cont img {
    width: 170px;
    height: 175px;

}

.first_image {
    box-shadow: 0 12px 14px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.single_grid {
    overflow: hidden;
}

.sub_image {
    box-shadow: 0 12px 14px rgba(0, 0, 0, 0.5);
    animation: skeleton-loading 1s linear infinite alternate;
}

.sub_image_cont {
    background-color: hsl(200, 20%, 70%);
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

@media screen and (max-width: 768px) {
    .sub_image_cont img {
        width: 52px;
        height: 63px;
    }

    .sub_image_cont {
        width: 52px;
        height: 63px;
    }
}

@media screen and (max-width: 420px) {
    .property__detail_summary_header {
        padding-right: 20px;
    }

    .detail_section_type_property {
        padding: 0 70px
    }
}

@media screen and (max-width: 390px) {
    .detail_section_type_property {
        padding: 0 50px
    }

    .property__detail_summary_header {
        padding-right: 20px;
    }

    .textare {
        margin-right: 30px;
        margin-left: 30px;
    }

    .form__disclaimer {
        margin-left: 30px;
    }

    .section__heading_about {
        font-size: 15px !important;
    }

}

@media screen and (max-width: 390px) {
    .detail_section_type_property {
        padding: 0 40px
    }

    .property__detail_summary_header {
        padding-right: 10px !important;
    }
}