/* styles.css */

.grid_img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.full_screen_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    /* Transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.full_screen_img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.modal_close_button {
    position: absolute;
    top: 5em;
    right: 3em;
    padding: 10px;
}