.property__detail_summary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;
}

.buttons_for_img {
    display: flex;
    align-items: center;
}

.buttons_for_img img {
    margin: 0 10px;
}

.change_icon {
    font-size: 30px;
}

.vertical-line {
    width: 1px;
    /* Set the desired width of your vertical line */
    height: 100%;
    /* Adjust the height to match the height of the container */
    background-color: #000;
    /* Set the color of the line */
    /* Center the line horizontally */
}

.property__detail_summary_header h1 {
    color: black;
    font-size: 28px;
}

.property__detail_summary_header {
    border-right: 1px solid darkgray;
    /* Add a gray right border */
    padding-right: 200px;
}

.property__detail_summary_price {
    display: flex;
    align-items: center;
}

.detail_prop_style {
    position: absolute;
    top: 13.5em;
    right: 5.5em;
    background-color: white;
    padding: 30px 30px !important;
    border-radius: 3px;
    box-shadow: 0 0 10px gray;
    /* Adjust the shadow color and size as needed */
    color: #000;
    display: flex !important;
    flex-direction: column !important;
    padding: 10px 10px !important;
    margin-right: 0px !important;
}

.detail_prop_style a {
    text-decoration: none;
    color: #000;
}

.section_type_property {
    background: #f6f7f9;
    padding: 50px 0;
    margin-top: 50px;
}

.detail_section_type_property {
    display: flex;
    justify-content: space-between;
    background: #f6f7f9;
    margin-top: 50px;
    padding: 0 70px
}

.detail_section_type_property img {
    width: 700px;
    height: 400px;
}

.detail_section_type_property span {
    line-height: 1.4;
}

.detail_section_type_property_dev_img {
    padding-bottom: 10px;
    margin-top: 60px;
    background: white;
    margin: 30px;
    padding: 30px 30px;
}

.detail_section_type_property_col {
    display: flex;
    flex-direction: column;
}

.detail_section_type_property_col b {
    font-size: 14px;
}

.form_detail {
    margin: 10px 250px;
}

.form_detail h3 span {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .property__detail_summary {
        display: block;
        margin-left: 50px;
    }

    .property__detail_summary h1 {
        font-size: 18px;
    }

    .detail_prop_style {
        background-color: white;
        padding: 30px 30px !important;
        border-radius: 3px;
        box-shadow: 0 0 10px gray;
        /* Adjust the shadow color and size as needed */
        color: #000;
        display: flex !important;
        flex-direction: column !important;
        padding: 10px 10px !important;
        margin-right: 0px !important;
    }

    .detail_section_type_property {
        display: block;
        margin-bottom: 50px;
    }

    .detail_section_type_property img {
        width: 100%;
        height: 100%;
    }

    .detail_section_type_property_dev_img {
        padding: 30px 20px;
        margin: 10px !important;
    }

    .form_detail {
        margin: 10px 10px;
    }

    .form_detail h3 {
        text-align: center;
    }

    .form_detail_subtitle {
        text-align: center;
    }
}