.section__subheading {
    font-weight: 700;
    font-size: 16px;
    margin: 10px 0;
}

.section__paragraph {
    font-size: 14px;
    line-height: 28px;
    text-align: justify;
}


@media screen and (max-width: 450px) {
    .section__heading_about {
        font-size: 24px;
        margin-left: -60px;
    }
}