.image-slider {
    width: 100%;
    height: 100%;
}

.slider-image {
    object-fit: cover;
    content: "";
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.slick-dots {
    bottom: 30px;
    /* Adjust the distance from the bottom as needed */
}

.slick-dots li {
    margin: 0 5px;
    /* Adjust the margin between dots as needed */
}

.slick-dots li button {
    width: 20px;
    /* Adjust the width of the dots as needed */
    height: 20px;
    /* Adjust the height of the dots as needed */
    background-color: #fff;
    /* Change the color of the dots as needed */
    border-radius: 50%;
    /* Make the dots circular */
}

.slick-dots li.slick-active button {
    background-color: #000;
    /* Change the active dot color as needed */
}

@media screen and (max-width: 768px) {
    .slider-image {
        height: 820px;
    }
}


@media screen and (max-width: 390px) {
    .slider-image {
        height: 650px;
    }
}